<?xml version='1.0'?>
<model>
  <name>uv_biped_lower</name>
  <description>uv_biped_lower_body</description>
  <version>0.1.0</version>
  <sdf>uv_biped_lower.urdf</sdf>
  <author>
    <name>Gustavo</name>
    <email>gustavo.velascoh@gmail.com</email>
  </author>
  <description>
    This model approximates the Atlas robot built by Boston Dynamics.
  </description>
</model>